.ta {
    resize: none;
}

.btnp {
    border: none;
    background: green;
    color: #f2f2f2;
    padding: 5px;
    font-size: 14px;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

.contenedor{
    width: 1080px;
    margin: auto;
    background:purple;
    color: black;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;

}


#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid rgb(0, 112, 163);
    border-bottom: purple;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: #ffffff;
}

#contenidopestanas{
    clear: both;
    background: purple;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;

    width: 1025px;
    font-size: xx-large;
}
