/* Styles go here */
div.a {
	position: relative;
	left:100px;
	top:-300px;
	width: 1600px;
	height: 500px;
	font-family:verdana;
	font-size: xx-large;
	
  }  
  div.b {
	position: relative;
	top:500px;
	width: 750px;
	height: 200px;
	font-family:verdana;
	font-size: xx-large;

  } 
  
  div.c {
	position: relative;
	right: 500px;
	left: 100px;
	bottom:500px;
	width: 7000px;
	height: 1000px;
	font-family:verdana;
	font-size: xx-large;  
  } 
